Repository badass-courses/course-builder, pull requests merged in 2023-12, with the labels that each got.

#26 feat: tutorial crud routes
  apps/course-builder-web/src/app/tutorials/[module]/[lesson]/edit/page.tsx
  apps/course-builder-web/src/app/tutorials/[module]/[lesson]/page.tsx
  apps/course-builder-web/src/app/tutorials/[module]/edit/page.tsx
  apps/course-builder-web/src/app/tutorials/[module]/page.tsx
  apps/course-builder-web/src/app/tutorials/new/page.tsx
  apps/course-builder-web/src/app/tutorials/page.tsx
  apps/course-builder-web/src/components/navigation/links.tsx
  apps/course-builder-web/src/inngest/functions/user-created.ts
  apps/course-builder-web/src/lib/ability.ts
  apps/course-builder-web/src/server/sanity.server.ts
Labels: apps

#27 chore: add some decisions
  docs/src/content/docs/decisions.md
Labels: 📚 documentation

#30 feat: sort in list updates sanity
  apps/course-builder-web/src/app/tutorials/[module]/edit/_form.tsx
  apps/course-builder-web/src/app/tutorials/[module]/edit/page.tsx
  apps/course-builder-web/src/trpc/api/routers/module.ts
Labels: apps

#32 feat: adds axiom logging
  apps/course-builder-web/next.config.mjs
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/api/auth/[...nextauth]/route.ts
  apps/course-builder-web/src/app/api/deepgram/webhook/route.ts
  apps/course-builder-web/src/app/api/inngest/route.ts
  apps/course-builder-web/src/app/api/mux/route.ts
  apps/course-builder-web/src/app/api/mux/webhook/route.ts
  apps/course-builder-web/src/app/api/postmark/webhook/route.ts
  apps/course-builder-web/src/app/api/trpc/[trpc]/route.ts
  apps/course-builder-web/src/app/api/uploadthing/route.ts
  apps/course-builder-web/src/app/api/videos/[videoResourceId]/srt/route.ts
  apps/course-builder-web/src/app/layout.tsx
  apps/course-builder-web/src/app/tutorials/[module]/edit/page.tsx
  apps/course-builder-web/src/app/tutorials/new/page.tsx
  apps/course-builder-web/src/server/sanity.server.ts
  apps/course-builder-web/src/server/with-skill.ts
  docs/src/content/docs/decisions.md
  pnpm-lock.yaml
Labels: apps, 📚 documentation

#34 style: tip edit layout
  apps/course-builder-web/src/app/_components/chat-response.tsx
  apps/course-builder-web/src/app/layout.tsx
  apps/course-builder-web/src/app/tips/[slug]/edit/page.tsx
  apps/course-builder-web/src/app/tips/_components/create-tip.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-assistant.tsx
  apps/course-builder-web/src/app/tips/_components/tip-player.tsx
  apps/course-builder-web/src/app/tips/page.tsx
  apps/course-builder-web/src/trpc/api/routers/tips.ts
  apps/course-builder-web/tailwind.config.ts
  packages/ui/primitives/scroll-area.tsx
  pnpm-lock.yaml
Labels: apps, @coursebuilder/ui

#35 feat: codemirror + partykit markdown editor
  apps/course-builder-web/package.json
  apps/course-builder-web/party/index.ts
  apps/course-builder-web/src/app/_components/party.tsx
  apps/course-builder-web/src/app/tips/_components/codemirror.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-assistant.tsx
  apps/course-builder-web/src/styles/globals.css
  pnpm-lock.yaml
Labels: apps

#37 chore: video workflow enhancements
  apps/course-builder-web/src/app/api/uploadthing/core.ts
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/inngest/events/video-uploaded.ts
  apps/course-builder-web/src/inngest/functions/video-uploaded.ts
  apps/course-builder-web/src/lib/get-mux-options.ts
  apps/course-builder-web/src/server/sanity.server.ts
Labels: apps

#38 feat: adds an image resource to sanity that gets created on cloudinary upload
  apps/course-builder-web/sanity/schema.ts
  apps/course-builder-web/sanity/schemas/documents/imageResource.tsx
  apps/course-builder-web/src/app/tips/_components/cloudinary-media-browser.tsx
  apps/course-builder-web/src/inngest/functions/cloudinary/cloudinary-webhooks-handlers.ts
  apps/course-builder-web/src/server/sanity.server.ts
  apps/course-builder-web/src/trpc/api/root.ts
  apps/course-builder-web/src/trpc/api/routers/imageResource.ts
  apps/course-builder-web/src/trpc/api/routers/videoResource.ts
Labels: apps

#39 docs: document local setup in app README
  apps/course-builder-web/README.md
Labels: apps

#40 feat(mediabrowser): drag and drop images into markdown
  apps/course-builder-web/src/app/tips/_components/cloudinary-media-browser.tsx
  apps/course-builder-web/src/app/tips/_components/cloudinary-upload-widget.tsx
Labels: apps

#41 fix: fallback user.role should be 'user' string
  apps/course-builder-web/src/server/auth.ts
Labels: apps

#45 feat: ai tip chat
  apps/course-builder-web/package.json
  apps/course-builder-web/party/index.ts
  apps/course-builder-web/src/app/api/chat/route.ts
  apps/course-builder-web/src/app/tips/_components/codemirror.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-assistant.tsx
  apps/course-builder-web/src/inngest/events.ts
  apps/course-builder-web/src/inngest/functions/tips/chat.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/lib/streaming-chunk-publisher.ts
  apps/course-builder-web/src/trpc/api/routers/tips.ts
  pnpm-lock.yaml
Labels: apps
