Repository badass-courses/course-builder, pull requests merged in 2024-02, with the labels that each got.

#59 feat: partial pre-rendering
  apps/course-builder-web/next.config.mjs
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/[article]/page.tsx
  apps/course-builder-web/src/app/articles/page.tsx
  apps/course-builder-web/src/app/layout.tsx
  apps/course-builder-web/src/components/navigation/links.tsx
  pnpm-lock.yaml
Labels: apps

#60 feat(articles): open graph image template + editor with preview
  apps/course-builder-web/package.json
  apps/course-builder-web/sanity/schemas/documents/article.ts
  apps/course-builder-web/src/app/[article]/opengraph-image.tsx
  apps/course-builder-web/src/app/[article]/page.tsx
  apps/course-builder-web/src/app/articles/_components/edit-article-form.tsx
  apps/course-builder-web/src/lib/articles.ts
  packages/ui/primitives/form.tsx
  pnpm-lock.yaml
Labels: apps, @coursebuilder/ui

#65 feat: focused on feedback during upload process for tip videos
  apps/course-builder-web/src/app/api/deepgram/webhook/route.ts
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-player.tsx
  apps/course-builder-web/src/hooks/use-socket.ts
  apps/course-builder-web/src/inngest/events/deepgram-webhook.ts
  apps/course-builder-web/src/inngest/events/video-resource.ts
  apps/course-builder-web/src/inngest/events/video-status-check.ts
  apps/course-builder-web/src/inngest/events/video-uploaded.ts
  apps/course-builder-web/src/inngest/functions/deepgram/deepgram-webhook-handlers.ts
  apps/course-builder-web/src/inngest/functions/deepgram/order-transcript.ts
  apps/course-builder-web/src/inngest/functions/mux/add-srt-to-mux-asset.ts
  apps/course-builder-web/src/inngest/functions/mux/mux-webhooks-handlers.ts
  apps/course-builder-web/src/inngest/functions/remove-completed-video.ts
  apps/course-builder-web/src/inngest/functions/tips/chat.ts
  apps/course-builder-web/src/inngest/functions/video-uploaded.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/lib/deepgram-results-processor.ts
  apps/course-builder-web/src/lib/srt-processor.ts
  apps/course-builder-web/src/lib/tips.ts
  apps/course-builder-web/src/lib/video-resource.ts
  apps/course-builder-web/src/trpc/api/routers/tips.ts
  apps/course-builder-web/src/trpc/api/routers/videoResource.ts
Labels: apps

#62 feat: use rsc better for tips
  apps/course-builder-web/src/app/tips/page.tsx
Labels: apps

#66 style(articles): mobile edit form
  apps/course-builder-web/src/app/_components/landing.tsx
  apps/course-builder-web/src/app/articles/_components/edit-article-form.tsx
  apps/course-builder-web/src/app/page.tsx
Labels: apps

#68 feat: only create a single promise and pass it down as a loader
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/[article]/page.tsx
  apps/course-builder-web/src/app/tips/[slug]/edit/page.tsx
  apps/course-builder-web/src/app/tips/[slug]/opengraph-image.tsx
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-player.tsx
  cli/package.json
  cli/template/base/package.json
  docs/package.json
  package.json
  packages/config/eslint-config/package.json
  packages/config/eslint-plugin/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: apps

#73 chore: refactor to `ResourceAssistantChat`
  apps/course-builder-web/src/app/_components/resource-assistant.tsx
  apps/course-builder-web/src/app/_components/resource-chat-response.tsx
  apps/course-builder-web/src/app/articles/_components/article-assistant.tsx
  apps/course-builder-web/src/app/tips/_components/tip-assistant.tsx
Labels: apps

#72 feat(workflow): generate draft from transcript
  apps/course-builder-web/src/components/video-uploader.tsx
  apps/course-builder-web/src/inngest/events.ts
  apps/course-builder-web/src/inngest/functions/ai/writer.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/lib/resources.ts
  apps/course-builder-web/src/trpc/api/routers/post.ts
Labels: apps

#74 feat: reintroduce the drag and drop tree for a tutorial
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/tutorials/[module]/edit/_form.tsx
  apps/course-builder-web/src/app/tutorials/[module]/edit/page.tsx
  apps/course-builder-web/src/components/lesson-list/data/tree.ts
  apps/course-builder-web/src/components/lesson-list/list.tsx
  apps/course-builder-web/src/components/lesson-list/pieces/tree/constants.ts
  apps/course-builder-web/src/components/lesson-list/pieces/tree/move-dialog.tsx
  apps/course-builder-web/src/components/lesson-list/pieces/tree/tree-context.tsx
  apps/course-builder-web/src/components/lesson-list/pieces/tree/tree-item.tsx
  apps/course-builder-web/src/components/lesson-list/tree.tsx
  apps/course-builder-web/src/components/module-edit.tsx
  apps/course-builder-web/src/components/video-uploader.tsx
  apps/course-builder-web/src/trpc/api/routers/module.ts
  pnpm-lock.yaml
Labels: apps

#75 feat: give me selectable prompts
  apps/course-builder-web/src/app/_components/assistant-workflow-selector.tsx
  apps/course-builder-web/src/app/_components/resource-assistant.tsx
  apps/course-builder-web/src/app/articles/_components/article-assistant.tsx
  apps/course-builder-web/src/app/tips/_components/tip-assistant.tsx
  apps/course-builder-web/src/inngest/events.ts
  apps/course-builder-web/src/inngest/functions/articles/chat.ts
  apps/course-builder-web/src/inngest/functions/tips/chat.ts
  apps/course-builder-web/src/inngest/helpers/resource-chat.ts
  apps/course-builder-web/src/trpc/api/routers/articles.ts
  apps/course-builder-web/src/trpc/api/routers/tips.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: apps

#76 feat: braodcast email sending
  .changeset/fair-years-perform.md
  apps/course-builder-web/.env.example
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/unsubscribed/page.tsx
  apps/course-builder-web/src/emails/basic-email.tsx
  apps/course-builder-web/src/env.mjs
  apps/course-builder-web/src/inngest/events/email-send-broadcast.ts
  apps/course-builder-web/src/inngest/functions/email-send-broadcast.ts
  apps/course-builder-web/src/inngest/functions/user-created.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  cli/package.json
  pnpm-lock.yaml
Labels: apps

#79 feat: port of treehouse outliner to next.js
  apps/course-builder-web/src/app/treehouse/design.css
  apps/course-builder-web/src/app/treehouse/main.css
  apps/course-builder-web/src/app/treehouse/normalize.css
  apps/course-builder-web/src/app/treehouse/page.tsx
  apps/course-builder-web/src/server/sanity.server.ts
  apps/course-builder-web/src/treehouse/Treehouse.tsx
  apps/course-builder-web/src/treehouse/action/commands.ts
  apps/course-builder-web/src/treehouse/action/keybinds.ts
  apps/course-builder-web/src/treehouse/action/menus.ts
  apps/course-builder-web/src/treehouse/action/mod.ts
  apps/course-builder-web/src/treehouse/backend/mod.ts
  apps/course-builder-web/src/treehouse/com/document.tsx
  apps/course-builder-web/src/treehouse/com/page.tsx
  apps/course-builder-web/src/treehouse/com/smartnode.tsx
  apps/course-builder-web/src/treehouse/com/tag.tsx
  apps/course-builder-web/src/treehouse/com/template.tsx
  apps/course-builder-web/src/treehouse/mod.ts
  apps/course-builder-web/src/treehouse/model/components.ts
  apps/course-builder-web/src/treehouse/model/hooks.ts
  apps/course-builder-web/src/treehouse/model/mod.ts
  apps/course-builder-web/src/treehouse/model/module/bus.ts
  apps/course-builder-web/src/treehouse/model/module/mod.ts
  apps/course-builder-web/src/treehouse/model/module/node.ts
  apps/course-builder-web/src/treehouse/ui/app.tsx
  apps/course-builder-web/src/treehouse/ui/menu.tsx
  apps/course-builder-web/src/treehouse/ui/mod.ts
  apps/course-builder-web/src/treehouse/ui/node/editor.tsx
  apps/course-builder-web/src/treehouse/ui/node/new.tsx
  apps/course-builder-web/src/treehouse/ui/notices.tsx
  apps/course-builder-web/src/treehouse/ui/outline.tsx
  apps/course-builder-web/src/treehouse/ui/palette.tsx
  apps/course-builder-web/src/treehouse/ui/panel.tsx
  apps/course-builder-web/src/treehouse/ui/picker.tsx
  apps/course-builder-web/src/treehouse/ui/quickadd.tsx
  apps/course-builder-web/src/treehouse/ui/settings.tsx
  apps/course-builder-web/src/treehouse/views/document.tsx
  apps/course-builder-web/src/treehouse/views/empty.tsx
  apps/course-builder-web/src/treehouse/views/list.tsx
  apps/course-builder-web/src/treehouse/views/table.tsx
  apps/course-builder-web/src/treehouse/views/tabs.tsx
  apps/course-builder-web/src/treehouse/views/views.ts
  apps/course-builder-web/src/treehouse/workbench/mod.tsx
  apps/course-builder-web/src/treehouse/workbench/path.ts
  apps/course-builder-web/src/treehouse/workbench/util.ts
  apps/course-builder-web/src/treehouse/workbench/workbench.ts
  apps/course-builder-web/src/treehouse/workbench/workspace.ts
  package.json
  pnpm-lock.yaml
Labels: apps

#81 docs: add some clarity for onboarding flow
  apps/course-builder-web/README.md
Labels: apps

#83 feat: content metadata to represent content pieces
  apps/course-builder-web/src/server/db/schema.ts
Labels: apps

#84 feat: contentMetadata becomes contentResource
  apps/course-builder-web/src/server/db/schema.ts
Labels: apps

#86 chore: setup content migration from sanity to db
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/inngest/events.ts
  apps/course-builder-web/src/inngest/functions/migration.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/server/db/schema.ts
  apps/course-builder-web/src/server/sanity.server.ts
  docs/src/content/docs/decisions.md
Labels: apps, 📚 documentation

#87 feat: content inserts and updates sync to db
  apps/course-builder-web/src/inngest/functions/ai/data/generate-transcript-with-screnshots.ts
  apps/course-builder-web/src/inngest/functions/deepgram/deepgram-webhook-handlers.ts
  apps/course-builder-web/src/inngest/functions/migration.ts
  apps/course-builder-web/src/inngest/functions/mux/mux-webhooks-handlers.ts
  apps/course-builder-web/src/inngest/functions/video-uploaded.ts
  apps/course-builder-web/src/inngest/helpers/resource-chat.ts
  apps/course-builder-web/src/lib/articles.ts
  apps/course-builder-web/src/lib/tips.ts
  apps/course-builder-web/src/lib/video-resource.ts
  apps/course-builder-web/src/trpc/api/root.ts
  apps/course-builder-web/src/trpc/api/routers/articles.ts
  apps/course-builder-web/src/trpc/api/routers/post.ts
  apps/course-builder-web/src/trpc/api/routers/tips.ts
  apps/course-builder-web/src/utils/guid.ts
Labels: apps
