Repository badass-courses/course-builder, pull requests merged in 2024-03, with the labels that each got.

#88 feat: article and tip server actions vs trpc
  apps/course-builder-web/src/app/articles/_components/article-form-actions.ts
  apps/course-builder-web/src/app/articles/_components/edit-article-form.tsx
  apps/course-builder-web/src/app/articles/_components/new-article-form.tsx
  apps/course-builder-web/src/app/layout.tsx
  apps/course-builder-web/src/app/tips/[slug]/edit/actions.ts
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/new-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-form-actions.ts
  apps/course-builder-web/src/trpc/api/routers/articles.ts
  apps/course-builder-web/src/trpc/api/routers/tips.ts
Labels: apps

#90 feat: query directly for content pieces
  .changeset/orange-cats-jump.md
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/tips/[slug]/edit/actions.ts
  apps/course-builder-web/src/app/tips/[slug]/edit/page.tsx
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/db/auth-drizzle-adapter.ts
  apps/course-builder-web/src/db/index.ts
  apps/course-builder-web/src/db/schema.ts
  apps/course-builder-web/src/inngest/functions/ai/data/generate-transcript-with-screnshots.ts
  apps/course-builder-web/src/inngest/functions/deepgram/deepgram-webhook-handlers.ts
  apps/course-builder-web/src/inngest/functions/migration.ts
  apps/course-builder-web/src/inngest/functions/mux/mux-webhooks-handlers.ts
  apps/course-builder-web/src/inngest/functions/video-uploaded.ts
  apps/course-builder-web/src/lib/articles.ts
  apps/course-builder-web/src/lib/tips.ts
  apps/course-builder-web/src/lib/video-resource.ts
  apps/course-builder-web/src/server/auth.ts
  cli/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: apps

#92 feat(editor): dark theme and syntax highlighting
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/_components/codemirror.tsx
  pnpm-lock.yaml
Labels: apps

#91 chore(release): 📦 version packages
  .changeset/orange-cats-jump.md
  apps/course-builder-web/package.json
  cli/CHANGELOG.md
  cli/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Labels: 🌀 cli, @coursebuilder/ui

#93 feat: ability to request ocr for images in screenshot
  apps/course-builder-web/next.config.mjs
  apps/course-builder-web/src/app/_components/resource-chat-response.tsx
  apps/course-builder-web/src/app/articles/_components/article-form-actions.ts
  apps/course-builder-web/src/app/tips/[slug]/edit/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/new-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-form-actions.ts
  apps/course-builder-web/src/inngest/events/ocr-webhook.ts
  apps/course-builder-web/src/inngest/functions/ocr/ocr-code-extractor.ts
  apps/course-builder-web/src/inngest/helpers/resource-chat.ts
  apps/course-builder-web/src/lib/tips.ts
  apps/course-builder-web/src/lib/video-resource.ts
Labels: apps

#94 feat: get the rsc bits running
  .changeset/tame-candles-give.md
  .node-version
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/_components/codemirror.tsx
  apps/course-builder-web/src/app/rsc/action.tsx
  apps/course-builder-web/src/app/rsc/layout.tsx
  apps/course-builder-web/src/app/rsc/page.tsx
  apps/course-builder-web/src/app/rsc/purchase.tsx
  apps/course-builder-web/src/components/login.tsx
  apps/course-builder-web/src/inngest/events.ts
  apps/course-builder-web/src/trpc/api/trpc.ts
  apps/course-builder-web/src/utils/tool-definition.ts
  apps/course-builder-web/tsconfig.json
  cli/package.json
  cli/template/base/package.json
  package.json
  packages/config/tsup/package.json
  pnpm-lock.yaml
Labels: apps

#95 chore(release): 📦 version packages
  .changeset/tame-candles-give.md
  cli/CHANGELOG.md
  cli/package.json
  packages/config/tsup/CHANGELOG.md
  packages/config/tsup/package.json
Labels: 🌀 cli

#96 chore: update aws sdk to v3 and fix some rsc fails
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/tips/[slug]/edit/page.tsx
  apps/course-builder-web/src/app/tips/[slug]/opengraph-image.tsx
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-form-actions.ts
  apps/course-builder-web/src/app/tips/page.tsx
  apps/course-builder-web/src/inngest/functions/tips/chat.ts
  apps/course-builder-web/src/lib/tips-query.ts
  apps/course-builder-web/src/lib/tips.ts
  apps/course-builder-web/src/trpc/api/routers/tips.ts
  apps/course-builder-web/src/utils/aws.ts
  pnpm-lock.yaml
Labels: apps

#97 feat: lean into content resource
  .changeset/great-cobras-hide.md
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/articles/_components/edit-article-form.tsx
  apps/course-builder-web/src/app/articles/_components/new-article-form.tsx
  apps/course-builder-web/src/app/rsc/action.tsx
  apps/course-builder-web/src/app/tips/[slug]/edit/actions.ts
  apps/course-builder-web/src/app/tips/[slug]/edit/page.tsx
  apps/course-builder-web/src/app/tips/[slug]/opengraph-image.tsx
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/new-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-form-actions.ts
  apps/course-builder-web/src/app/tutorials/[module]/edit/page.tsx
  apps/course-builder-web/src/db/schema.ts
  apps/course-builder-web/src/inngest/functions/ai/data/generate-transcript-with-screnshots.ts
  apps/course-builder-web/src/inngest/functions/ai/writer.ts
  apps/course-builder-web/src/inngest/functions/deepgram/deepgram-webhook-handlers.ts
  apps/course-builder-web/src/inngest/functions/migration.ts
  apps/course-builder-web/src/inngest/functions/mux/mux-webhooks-handlers.ts
  apps/course-builder-web/src/inngest/functions/video-uploaded.ts
  apps/course-builder-web/src/lib/articles-query.ts
  apps/course-builder-web/src/lib/articles.ts
  apps/course-builder-web/src/lib/tips-query.ts
  apps/course-builder-web/src/lib/tips.ts
  apps/course-builder-web/src/lib/video-resource-query.ts
  apps/course-builder-web/src/lib/video-resource.ts
  apps/course-builder-web/src/libs/articles.ts
  cli/package.json
  pnpm-lock.yaml
Labels: apps

#98 chore(release): 📦 version packages
  .changeset/great-cobras-hide.md
  cli/CHANGELOG.md
  cli/package.json
Labels: 🌀 cli

#99 chore: remove Sanity from tips and video resources in favor of direct to db
  apps/course-builder-web/src/app/[article]/page.tsx
  apps/course-builder-web/src/app/api/videos/[videoResourceId]/srt/route.ts
  apps/course-builder-web/src/app/articles/[slug]/edit/page.tsx
  apps/course-builder-web/src/app/articles/[slug]/opengraph-image.tsx
  apps/course-builder-web/src/app/articles/page.tsx
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-player.tsx
  apps/course-builder-web/src/app/tutorials/[module]/[lesson]/edit/page.tsx
  apps/course-builder-web/src/app/tutorials/[module]/page.tsx
  apps/course-builder-web/src/app/tutorials/page.tsx
  apps/course-builder-web/src/db/schema.ts
  apps/course-builder-web/src/inngest/functions/ai/data/generate-transcript-with-screnshots.ts
  apps/course-builder-web/src/inngest/functions/articles/chat.ts
  apps/course-builder-web/src/inngest/functions/deepgram/deepgram-webhook-handlers.ts
  apps/course-builder-web/src/inngest/functions/deepgram/order-transcript.ts
  apps/course-builder-web/src/inngest/functions/migration.ts
  apps/course-builder-web/src/inngest/functions/mux/add-srt-to-mux-asset.ts
  apps/course-builder-web/src/inngest/functions/mux/mux-webhooks-handlers.ts
  apps/course-builder-web/src/inngest/functions/remove-completed-video.ts
  apps/course-builder-web/src/inngest/functions/video-uploaded.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/lib/articles-query.ts
  apps/course-builder-web/src/lib/articles.ts
  apps/course-builder-web/src/lib/resources.ts
  apps/course-builder-web/src/lib/tips-query.ts
  apps/course-builder-web/src/lib/tips.ts
  apps/course-builder-web/src/lib/video-resource-query.ts
  apps/course-builder-web/src/lib/video-resource.ts
  apps/course-builder-web/src/libs/articles.ts
  apps/course-builder-web/src/trpc/api/routers/articles.ts
  apps/course-builder-web/src/trpc/api/routers/videoResource.ts
  apps/course-builder-web/src/utils/get-og-image-url-for-resource.ts
  packages/ui/primitives/button.tsx
Labels: apps, @coursebuilder/ui

#100 chore: cleanup workflows and remove debris 🧹
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/_components/codemirror.tsx
  apps/course-builder-web/src/app/api/deepgram/webhook/route.ts
  apps/course-builder-web/src/app/api/mux/webhook/route.ts
  apps/course-builder-web/src/app/api/uploadthing/route.ts
  apps/course-builder-web/src/app/articles/_components/article-assistant.tsx
  apps/course-builder-web/src/app/articles/_components/edit-article-form.tsx
  apps/course-builder-web/src/app/layout.tsx
  apps/course-builder-web/src/app/tips/[slug]/edit/actions.ts
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/new-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-assistant.tsx
  apps/course-builder-web/src/app/tips/_components/tip-uploader.tsx
  apps/course-builder-web/src/data/list-of-good-lesson-titles-from-egghead.ts
  apps/course-builder-web/src/db/schema.ts
  apps/course-builder-web/src/inngest/events.ts
  apps/course-builder-web/src/inngest/events/mux-add-srt-to-asset.ts
  apps/course-builder-web/src/inngest/events/resource-chat-request.ts
  apps/course-builder-web/src/inngest/events/sanity-post.ts
  apps/course-builder-web/src/inngest/events/transcript-requested.ts
  apps/course-builder-web/src/inngest/events/user-created.ts
  apps/course-builder-web/src/inngest/functions/ai/feedback-markers.ts
  apps/course-builder-web/src/inngest/functions/ai/writer.ts
  apps/course-builder-web/src/inngest/functions/articles/chat.ts
  apps/course-builder-web/src/inngest/functions/cloudinary/cloudinary-webhooks-handlers.ts
  apps/course-builder-web/src/inngest/functions/mux/mux-webhooks-handlers.ts
  apps/course-builder-web/src/inngest/functions/notify/creator/user-signup.ts
  apps/course-builder-web/src/inngest/functions/resource-chat.ts
  apps/course-builder-web/src/inngest/functions/tips/chat.ts
  apps/course-builder-web/src/inngest/functions/user-created.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/inngest/video-processing/add-srt-to-mux-asset.ts
  apps/course-builder-web/src/inngest/video-processing/events/video-mux-webhook.ts
  apps/course-builder-web/src/inngest/video-processing/events/video-resource.ts
  apps/course-builder-web/src/inngest/video-processing/events/video-srt-ready-to-asset.ts
  apps/course-builder-web/src/inngest/video-processing/events/video-status-check.ts
  apps/course-builder-web/src/inngest/video-processing/events/video-transcript-ready.ts
  apps/course-builder-web/src/inngest/video-processing/events/video-uploaded.ts
  apps/course-builder-web/src/inngest/video-processing/generate-transcript-with-screnshots.ts
  apps/course-builder-web/src/inngest/video-processing/order-transcript.ts
  apps/course-builder-web/src/inngest/video-processing/remove-completed-video.ts
  apps/course-builder-web/src/inngest/video-processing/transcript-ready.ts
  apps/course-builder-web/src/inngest/video-processing/video-processing-error.ts
  apps/course-builder-web/src/inngest/video-processing/video-ready.ts
  apps/course-builder-web/src/inngest/video-processing/video-uploaded.ts
  apps/course-builder-web/src/lib/ai-chat.ts
  apps/course-builder-web/src/lib/feedback-marker.ts
  apps/course-builder-web/src/lib/video-resource-query.ts
  apps/course-builder-web/src/server/auth.ts
  apps/course-builder-web/src/transcript-processing/deepgram-results-processor.ts
  apps/course-builder-web/src/trpc/api/root.ts
  apps/course-builder-web/src/trpc/api/routers/articles.ts
  apps/course-builder-web/src/trpc/api/routers/tips.ts
  apps/course-builder-web/src/trpc/api/routers/videoResource.ts
  apps/course-builder-web/src/trpc/api/routers/writing.ts
  apps/course-builder-web/src/uploadthing/core.ts
  apps/course-builder-web/src/utils/uploadthing.ts
  pnpm-lock.yaml
Labels: apps

#104 feat: extract a database adapter package for drizzle
  .changeset/weak-pillows-exist.md
  .gitignore
  .node-version
  apps/course-builder-web/.env.example
  apps/course-builder-web/drizzle.config.ts
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/api/auth/[...nextauth]/route.ts
  apps/course-builder-web/src/app/api/deepgram/webhook/route.ts
  apps/course-builder-web/src/app/login/page.tsx
  apps/course-builder-web/src/coursebuilder/course-builder-config.ts
  apps/course-builder-web/src/db/auth-drizzle-adapter.ts
  apps/course-builder-web/src/db/schema.ts
  apps/course-builder-web/src/inngest/video-processing/add-srt-to-mux-asset.ts
  apps/course-builder-web/src/inngest/video-processing/events/video-transcript-ready.ts
  apps/course-builder-web/src/inngest/video-processing/order-transcript.ts
  apps/course-builder-web/src/inngest/video-processing/transcript-ready.ts
  apps/course-builder-web/src/inngest/video-processing/video-processing-error.ts
  apps/course-builder-web/src/inngest/video-processing/video-ready.ts
  apps/course-builder-web/src/inngest/video-processing/video-uploaded.ts
  apps/course-builder-web/src/lib/video-resource-query.ts
  apps/course-builder-web/src/providers/deepgram.ts
  apps/course-builder-web/src/server/auth.ts
  apps/course-builder-web/src/transcript-processing/deepgram-order-transcript.ts
  apps/course-builder-web/src/transcript-processing/deepgram-results-processor.ts
  apps/course-builder-web/src/transcript-processing/srt-processor.ts
  cli/package.json
  docs/src/content/docs/getting-started.md
  package.json
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/src/index.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/adapter-drizzle/src/lib/utils.ts
  packages/adapter-drizzle/tsconfig.json
  packages/core/package.json
  packages/core/src/adapters.ts
  packages/core/src/index.ts
  packages/core/src/providers/deepgram.ts
  packages/core/src/providers/index.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
  plop-templates/package-lib/package.hbs
  plop-templates/package-lib/src/index.hbs
  plop-templates/package-lib/tsconfig.hbs
  plop-templates/package-lib/tsup.config.hbs
  plopfile.mjs
  pnpm-lock.yaml
  turbo.json
Labels: apps, 📚 documentation

#105 chore(release): 📦 version packages
  .changeset/weak-pillows-exist.md
  apps/course-builder-web/package.json
  cli/CHANGELOG.md
  cli/package.json
  packages/adapter-drizzle/CHANGELOG.md
  packages/adapter-drizzle/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  pnpm-lock.yaml
Labels: 🌀 cli

#107 feat: migrate inngest to core for video processing
  .changeset/fluffy-needles-drop.md
  .gitignore
  apps/course-builder-web/src/app/api/mux/route.ts
  apps/course-builder-web/src/app/api/mux/webhook/route.ts
  apps/course-builder-web/src/app/tips/[slug]/edit/actions.ts
  apps/course-builder-web/src/app/tips/_components/edit-tip-form-metadata.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form.tsx
  apps/course-builder-web/src/app/tips/_components/tip-player.tsx
  apps/course-builder-web/src/coursebuilder/course-builder-config.ts
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/inngest/video-processing/add-srt-to-mux-asset.ts
  apps/course-builder-web/src/lib/mux-api.ts
  apps/course-builder-web/src/lib/video-resource-query.ts
  apps/course-builder-web/src/uploadthing/core.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/adapter-drizzle/src/lib/pg.ts
  packages/adapter-drizzle/src/lib/sqlite.ts
  packages/core/package.json
  packages/core/src/adapters.ts
  packages/core/src/inngest/inngest.server.ts
  packages/core/src/inngest/video-processing/events/event-video-mux-webhook.ts
  packages/core/src/inngest/video-processing/events/event-video-resource.ts
  packages/core/src/inngest/video-processing/events/event-video-srt-ready-to-asset.ts
  packages/core/src/inngest/video-processing/events/event-video-status-check.ts
  packages/core/src/inngest/video-processing/events/event-video-transcript-ready.ts
  packages/core/src/inngest/video-processing/events/event-video-uploaded.ts
  packages/core/src/inngest/video-processing/events/index.ts
  packages/core/src/inngest/video-processing/functions/add-srt-to-mux-asset.ts
  packages/core/src/inngest/video-processing/functions/generate-transcript-with-screnshots.ts
  packages/core/src/inngest/video-processing/functions/index.ts
  packages/core/src/inngest/video-processing/functions/order-transcript.ts
  packages/core/src/inngest/video-processing/functions/remove-completed-video.ts
  packages/core/src/inngest/video-processing/functions/transcript-ready.ts
  packages/core/src/inngest/video-processing/functions/video-processing-error.ts
  packages/core/src/inngest/video-processing/functions/video-ready.ts
  packages/core/src/inngest/video-processing/functions/video-uploaded.ts
  packages/core/src/inngest/video-processing/utils.ts
  packages/core/src/lib/mux.ts
  packages/core/src/lib/utils/web.ts
  packages/core/src/providers/deepgram.ts
  packages/core/src/providers/index.ts
  packages/core/src/schemas/mux.ts
  packages/core/src/schemas/video-resource.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
  packages/next/package.json
  packages/next/src/index.tsx
  pnpm-lock.yaml
  turbo.json
Labels: apps

#111 chore: move inngest functions back to app
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/api/videos/[videoResourceId]/srt/route.ts
  apps/course-builder-web/src/app/tips/[slug]/page.tsx
  apps/course-builder-web/src/app/tips/_components/edit-tip-form-metadata.tsx
  apps/course-builder-web/src/app/tips/_components/tip-player.tsx
  apps/course-builder-web/src/components/image-uploader/image-resource-browser.tsx
  apps/course-builder-web/src/inngest/inngest.config.ts
  apps/course-builder-web/src/inngest/video-processing/functions/add-srt-to-mux-asset.ts
  apps/course-builder-web/src/inngest/video-processing/functions/generate-transcript-with-screnshots.ts
  apps/course-builder-web/src/inngest/video-processing/functions/index.ts
  apps/course-builder-web/src/inngest/video-processing/functions/order-transcript.ts
  apps/course-builder-web/src/inngest/video-processing/functions/remove-completed-video.ts
  apps/course-builder-web/src/inngest/video-processing/functions/transcript-ready.ts
  apps/course-builder-web/src/inngest/video-processing/functions/video-processing-error.ts
  apps/course-builder-web/src/inngest/video-processing/functions/video-ready.ts
  apps/course-builder-web/src/inngest/video-processing/functions/video-uploaded.ts
  apps/course-builder-web/src/lib/ai-chat-query.ts
  apps/course-builder-web/src/lib/articles-query.ts
  apps/course-builder-web/src/lib/image-resource-query.ts
  apps/course-builder-web/src/lib/tips-query.ts
  apps/course-builder-web/src/lib/video-resource-query.ts
  packages/adapter-drizzle/src/lib/mysql.ts
  packages/core/package.json
  packages/core/src/inngest/inngest.server.ts
  packages/core/src/lib/mux.ts
  packages/core/src/schemas/mux.ts
  pnpm-lock.yaml
Labels: apps

#112 feat: adds srt action endpoint to core
  apps/course-builder-web/src/app/api/coursebuilder/[...nextCourseBuilder]/route.ts
  apps/course-builder-web/src/app/api/videos/[videoResourceId]/srt/route.ts
  apps/course-builder-web/src/inngest/video-processing/functions/add-srt-to-mux-asset.ts
  packages/core/src/lib/actions/index.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/utils/actions.ts
  packages/core/src/lib/utils/web.ts
  packages/core/src/types.ts
Labels: apps

#113 feat: ability to construct a tutorial
  .changeset/healthy-chicken-smell.md
  apps/course-builder-web/src/app/tutorials/[module]/edit/page.tsx
  apps/course-builder-web/src/app/tutorials/new/page.tsx
  apps/course-builder-web/src/app/tutorials/page.tsx
  apps/course-builder-web/src/components/lesson-list/data/tree.ts
  apps/course-builder-web/src/components/lesson-list/tree.tsx
  apps/course-builder-web/src/components/module-edit.tsx
  apps/course-builder-web/src/components/resources-crud/create-resource-card.tsx
  apps/course-builder-web/src/components/resources-crud/create-resource-form.tsx
  apps/course-builder-web/src/db/schema.ts
  apps/course-builder-web/src/lib/tutorials-query.ts
  packages/core/src/adapters.ts
Labels: apps

#115 fix: no-opp dead inngest app
  .changeset/healthy-chicken-smell.md
  apps/course-builder-web/src/app/api/inngest/meh/route.ts
Labels: apps

#119 chore: break out schema to files
  apps/course-builder-web/src/coursebuilder/course-builder-config.ts
  apps/course-builder-web/src/db/mysql-table.ts
  apps/course-builder-web/src/db/schema.ts
  apps/course-builder-web/src/db/schemas/accounts.ts
  apps/course-builder-web/src/db/schemas/communication-channel.ts
  apps/course-builder-web/src/db/schemas/communication-preference-types.ts
  apps/course-builder-web/src/db/schemas/communication-preferences.ts
  apps/course-builder-web/src/db/schemas/content-contributions.ts
  apps/course-builder-web/src/db/schemas/content-resource-resource.ts
  apps/course-builder-web/src/db/schemas/content-resource.ts
  apps/course-builder-web/src/db/schemas/contribution-types.ts
  apps/course-builder-web/src/db/schemas/permissions.ts
  apps/course-builder-web/src/db/schemas/role-permissions.ts
  apps/course-builder-web/src/db/schemas/roles.ts
  apps/course-builder-web/src/db/schemas/sessions.ts
  apps/course-builder-web/src/db/schemas/user-permissions.ts
  apps/course-builder-web/src/db/schemas/user-roles.ts
  apps/course-builder-web/src/db/schemas/users.ts
  apps/course-builder-web/src/db/schemas/verification-tokens.ts
  apps/course-builder-web/src/inngest/inngest.server.ts
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/src/schema.ts
Labels: apps

#124 feat: testing in core and adapter
  .changeset/plenty-countries-whisper.md
  .dockerignore
  .github/ISSUE_TEMPLATE/1.bug-report-pkgs.yml
  .github/ISSUE_TEMPLATE/2.bug-report-dash.yml
  .github/workflows/ci.yaml
  .gitignore
  apps/course-builder-web/.env.development.local.example
  apps/course-builder-web/.env.example
  apps/course-builder-web/src/inngest/functions/concepts/get-or-create-tag.ts
  apps/course-builder-web/src/utils/pinecone.ts
  apps/course-builder-web/src/utils/vector-utils/concepts.ts
  cli/package.json
  package.json
  packages/adapter-drizzle/package.json
  packages/adapter-drizzle/src/lib/mysql/index.ts
  packages/adapter-drizzle/test/fixtures.ts
  packages/adapter-drizzle/test/mysql/drizzle.config.ts
  packages/adapter-drizzle/test/mysql/index.test.ts
  packages/adapter-drizzle/test/mysql/schema.ts
  packages/adapter-drizzle/test/mysql/test.sh
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/lib/utils/env.ts
  packages/core/test/env.test.ts
  packages/core/test/memory-adapter.ts
  packages/core/test/utils.ts
  packages/utils/adapter.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  packages/utils/vitest-setup.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: apps

#125 chore(release): 📦 version packages
  .changeset/plenty-countries-whisper.md
  apps/course-builder-web/package.json
  cli/CHANGELOG.md
  cli/package.json
  packages/adapter-drizzle/CHANGELOG.md
  packages/adapter-drizzle/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: 🌀 cli

#126 feat: adds concept of sessions and callbacks to Course Builder
  .changeset/swift-jokes-melt.md
  apps/course-builder-web/.env.example
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/page.tsx
  apps/course-builder-web/src/coursebuilder/course-builder-config.ts
  apps/course-builder-web/src/coursebuilder/transcript-provider.ts
  apps/course-builder-web/src/db/index.ts
  apps/course-builder-web/src/env.mjs
  apps/course-builder-web/src/inngest/inngest.server.ts
  apps/course-builder-web/src/server/auth.ts
  cli/package.json
  packages/adapter-drizzle/package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/lib/actions/index.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/init.ts
  packages/core/src/lib/utils/actions.ts
  packages/core/src/types.ts
  packages/next/package.json
  packages/next/src/index.tsx
  packages/next/src/lib/env.ts
  packages/next/src/lib/index.ts
  packages/next/src/lib/types.ts
  packages/next/tsconfig.json
  pnpm-lock.yaml
Labels: apps

#127 chore(release): 📦 version packages
  .changeset/swift-jokes-melt.md
  apps/course-builder-web/package.json
  cli/CHANGELOG.md
  cli/package.json
  packages/adapter-drizzle/CHANGELOG.md
  packages/adapter-drizzle/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  pnpm-lock.yaml
Labels: 🌀 cli

#129 feat: pragmatic dnd sortable list
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/tutorials/[module]/edit/page.tsx
  apps/course-builder-web/src/app/tutorials/[module]/page.tsx
  apps/course-builder-web/src/app/tutorials/page.tsx
  apps/course-builder-web/src/components/lesson-list/data/tree.ts
  apps/course-builder-web/src/components/lesson-list/list.tsx
  apps/course-builder-web/src/components/lesson-list/pieces/tree/tree-item.tsx
  apps/course-builder-web/src/components/lesson-list/tree.tsx
  apps/course-builder-web/src/components/module-edit.tsx
  apps/course-builder-web/src/lib/tutorials-query.ts
  pnpm-lock.yaml
Labels: apps

#132 feat: tune and add analytics
  apps/course-builder-web/package.json
  apps/course-builder-web/src/app/api/auth/[...nextauth]/route.ts
  apps/course-builder-web/src/app/api/chat/route.ts
  apps/course-builder-web/src/app/api/coursebuilder/[...nextCourseBuilder]/route.ts
  apps/course-builder-web/src/app/api/trpc/[trpc]/route.ts
  apps/pro-aws/.env.development
  apps/pro-aws/package.json
  apps/pro-aws/postcss.config.cjs
  apps/pro-aws/src/app/(email-list)/_components/signature.tsx
  apps/pro-aws/src/app/(email-list)/confirm/page.tsx
  apps/pro-aws/src/app/(email-list)/confirmed/page.tsx
  apps/pro-aws/src/app/_components/amplitude-provider.tsx
  apps/pro-aws/src/app/_components/providers.tsx
  apps/pro-aws/src/app/layout.tsx
  apps/pro-aws/src/app/page.tsx
  apps/pro-aws/src/components/app/get-common-metadata.ts
  apps/pro-aws/src/components/app/layout.tsx
  apps/pro-aws/src/env.mjs
  packages/next/package.json
  pnpm-lock.yaml
Labels: apps

#133 chore: sad wrestling with ts
  apps/course-builder-web/src/components/resources-crud/edit-resources-form-desktop.tsx
  apps/course-builder-web/src/components/resources-crud/edit-resources-form-mobile.tsx
  apps/course-builder-web/src/components/resources-crud/edit-resources-tool-panel-contents.tsx
  apps/course-builder-web/src/components/resources-crud/edit-resources-tool-panel.tsx
  apps/course-builder-web/src/components/resources-crud/panels/edit-resources-body-panel.tsx
  apps/course-builder-web/tsconfig.json
  apps/pro-aws/src/app/page.tsx
  apps/pro-aws/src/app/prompts/[slug]/page.tsx
  apps/pro-aws/src/components/chat-assistant/resource-chat-assistant.tsx
  apps/pro-aws/src/components/resources-crud/edit-resources-form-desktop.tsx
  apps/pro-aws/src/components/resources-crud/edit-resources-form-mobile.tsx
  apps/pro-aws/src/components/resources-crud/edit-resources-tool-panel-contents.tsx
  apps/pro-aws/src/components/resources-crud/edit-resources-tool-panel.tsx
  apps/pro-aws/src/components/resources-crud/panels/edit-resources-body-panel.tsx
  apps/pro-aws/src/inngest/functions/resource-chat.ts
  apps/pro-aws/src/lib/ai-chat.ts
  apps/pro-aws/src/lib/articles-query.ts
  apps/pro-aws/src/lib/prompts-query.ts
  apps/pro-aws/tsconfig.json
Labels: apps
